
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
 }
:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;
  min-width: 100vw;
  min-height: 100vh;
}

body{
  overflow: hidden;
  min-width: 100vw;
  min-height: 100vh;
}


