.footer{
    height: 100%;
    border-top: 1px solid white;
    display: flex;
    animation: border-animation 10s infinite alternate;
}

@keyframes border-animation {
    0% { border-color: white; }
    20% { border-color: #8FA1AD; }
    40% { border-color: #9DB894; }
    60% { border-color: #D44973; }
    80% { border-color: #9F5B56; }
    100% { border-color: #305D67; }
  }
  

.artist-name{
    font-size: 40px;
}

.artist-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

