.artist-window{
    display: flex;
    flex-direction: row;
    height: fit-content;
}

.artist-window-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
}

/* .artist-window-container:nth-child(1),
.artist-window-container:nth-child(2) {
  border-right: solid 1px chartreuse;
} */

.video{
    width: 100%;
    height: fit-content;
}
