.header{
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding:10px;
    border-bottom: 1px solid white;
    height: fit-content;
    font-size: 20px;
    animation: border-animation 10s infinite alternate;
}

@keyframes border-animation {
  0% { border-color: white; }
  20% { border-color: #8FA1AD; }
  40% { border-color: #9DB894; }
  60% { border-color: #D44973; }
  80% { border-color: #9F5B56; }
  100% { border-color: #305D67; }
}


.hints {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .hint {
    animation: slide-in 30s ease-out;

  }

  .hint {
    animation: slide-in 30s ease-out;
    
  }
  
  @keyframes slide-in {
    from {
 
      opacity: 0;
    }
    to {

      opacity: 1;
    }
  }
  