.validate-button {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  padding: 10px 20px;
  cursor: pointer;

  position: relative;
  top: 300px;

  font-size: 1.4rem;
  margin: 40px;
}
