@font-face {
    font-family: 'NeueMedium';
    src: url('../../../assets/fonts/NeueHaasDisplayMediu.ttf') format('truetype');
    /* You can add more src declarations for different font file formats */
  }

.interface-one{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.header, .footer{
    font-family: NeueMedium;
}